.navbar {
  margin-top: -250px;
}
/* Cores das letras da NavBar 04/06/2019 20:18 */
.navbar .navbar-collapse ul li a {
  color: black !important;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.navbar .navbar-collapse  ul li a:hover {
  color: black !important;

}
.navbar .navbar-collapse {
  color: black !important;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.body h1{
 color: white;
 font-family: 'Staatliches', cursive;
 font-size: 3.2rem;
 margin-top: -15rem;
 margin-bottom: -1.2rem;  
}

.body img{
height: 130px;
margin-top: 2rem;
}



/* Cool infinite background scrolling animation.
 * Twitter: @kootoopas
 */
/* Exo thin font from Google. */
@import url(https://fonts.googleapis.com/css?family=Exo:100);
/* Background data (Original source: https://subtlepatterns.com/grid-me/) */
/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
/* Main styles */
body {
  margin-top: 15rem;
  color: red;
  font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
  text-align: center;
  /* img size is 50x50 */
  /* background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0; */
  -webkit-animation: bg-scrolling-reverse 0.92s infinite;
  /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse 0.92s infinite;
  /* Fx 5+ */
  -o-animation: bg-scrolling-reverse 0.92s infinite;
  /* Opera 12+ */
  animation: bg-scrolling-reverse 0.92s infinite;
  /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  background-color: red;
}
/* body::before {
  content: "PROJETO SALAMANDRA";
  font-size: 10rem;
  font-weight: 200;
  font-style: normal;
  font-family: 'Exo 2', sans-serif;
  
} */


.menu .button{
  border: 5px solid black;
  border-radius:;
  text-decoration: none;
  background-color: black;
}

.menu .button a{
  text-decoration: none;
  font-family: 'Exo 2', sans-serif;
  color: white;

}
.menu{
  margin-top: 1rem;
  margin-bottom: 1rem;
}



.dmenu .button{
  border: 5px solid black;
  border-radius:;
  text-decoration: none;
  background-color: black;
}

.dmenu .button a{
  text-decoration: none;
  font-family: 'Exo 2', sans-serif;
  color: white;
}

.card .card-body h5{
  border-radius: 2px;
  background-color: black;
  font-family: 'Exo 2', sans-serif;
  color: white;
}


.card .card-body p{

  color: black;
  font-family: 'Exo 2', sans-serif;
}

.card{
  width: 100%;
  
}

.card-body{
  border: 2px solid white;
  background-color: #ffffff;
}


.container-fluid{
  border: 2px solid black;
  background-color: white;
  margin-top: 2rem;
}

.container-fluid .text-center h5{
  font-size: 25px;
  color: black;
  font-family: 'Exo 2', sans-serif;
}

.container-fluid .text-center img{
  height: 20px;
  display: inline-block;
}

.container-fluid .text-center #zica{
  height: 50px;
  display: inline-block;
}

.footer-copyright{
  background-color: black !important;
  align-content: center;
  height: 40px;

}


.footer-copyright h1{
  color: white;
  font-size: 20px;
  font-family: 'Exo 2', sans-serif;


}
